/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._component_1p67v_125 {
  position: relative;
  display: flex;
  align-items: stretch;
}
._split_1p67v_131 ._button_1p67v_131 {
  height: var(--spacing--2xl);
  padding-inline-start: var(--spacing--xs);
  padding-block: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
._divider_1p67v_139 {
  width: 1px;
  background-color: var(--button--color--text, var(--button--color--text--primary));
}
._chevron_1p67v_144 {
  width: 40px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
._menu_1p67v_150 .el-dropdown {
  height: 100%;
}
._menuPopper_1p67v_154 {
  max-width: none !important;
}
._menuItem_1p67v_158 {
  display: flex;
  align-items: center;
  gap: var(--spacing--2xs);
}
._menuItem_1p67v_158._disabled_1p67v_164 ._menuIcon_1p67v_164 {
  opacity: 0.2;
}
._buttonContent_1p67v_168 {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  gap: var(--spacing--5xs);
}
._subText_1p67v_175 {
  font-size: var(--font-size--2xs);
}