/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
._container_becj7_123 {
  width: 200px;
  height: 100%;
  background-color: var(--color--background--light-3);
  border-right: var(--border-base);
  position: relative;
  overflow: auto;
}
._header_becj7_132 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-xs);
  gap: var(--spacing-2xs);
}
._returnButton_becj7_140 {
  cursor: pointer;
  display: flex;
  gap: var(--spacing-3xs);
  align-items: center;
  flex: 1;
}
._returnButton_becj7_140:hover {
  color: var(--color--primary);
}
._items_becj7_151 {
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacing-3xs);
  gap: var(--spacing-xs);
}
._group_becj7_158 {
  display: flex;
  flex-direction: column;
}
._groupHeader_becj7_163 {
  padding: 0 var(--spacing-3xs) var(--spacing-3xs) var(--spacing-3xs);
}
._loading_becj7_167,
._empty_becj7_168 {
  padding: var(--spacing-xs);
  text-align: center;
}