/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._container_jbs4y_125 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._n8nIcon_jbs4y_132 {
  outline: none;
}
._n8nIcon_jbs4y_132._lg_jbs4y_135 {
  width: 24px;
  height: 24px;
}
._n8nIcon_jbs4y_132._lg_jbs4y_135 g, ._n8nIcon_jbs4y_132._lg_jbs4y_135 path {
  stroke-width: 1.25;
}
._n8nIcon_jbs4y_132._xl_jbs4y_142 {
  width: 40px;
  height: 40px;
}
._emoji_jbs4y_147 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
._emoji_jbs4y_147._sm_jbs4y_152 {
  width: 16px;
  height: 16px;
}
._emoji_jbs4y_147._md_jbs4y_156 {
  width: 20px;
  height: 20px;
  font-size: 20px;
}
._emoji_jbs4y_147._lg_jbs4y_135 {
  width: 24px;
  height: 24px;
  font-size: 24px;
}
._emoji_jbs4y_147._xl_jbs4y_142 {
  width: 40px;
  height: 40px;
  font-size: 40px;
}
._credentialsIcon_jbs4y_172 {
  visibility: hidden;
}
._credentialsIcon_jbs4y_172._isReady_jbs4y_175 {
  visibility: visible;
}