/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
._container_6zc6p_123 {
  position: relative;
  width: var(--spacing--lg);
  height: var(--spacing--lg);
  min-width: var(--spacing--lg);
  display: flex;
  align-items: center;
  justify-content: center;
}
._n8nIcon_6zc6p_133 {
  outline: none;
}
._n8nIcon_6zc6p_133._lg_6zc6p_136 {
  width: 24px;
  height: 24px;
}
._n8nIcon_6zc6p_133._lg_6zc6p_136 g, ._n8nIcon_6zc6p_133._lg_6zc6p_136 path {
  stroke-width: 1.25;
}
._emoji_6zc6p_144 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
._emoji_6zc6p_144._sm_6zc6p_149 {
  width: 16px;
  height: 16px;
}
._emoji_6zc6p_144._md_6zc6p_153 {
  width: 20px;
  height: 20px;
  font-size: 20px;
}
._emoji_6zc6p_144._lg_6zc6p_136 {
  width: 24px;
  height: 24px;
  font-size: 24px;
}
._credentialsIcon_6zc6p_164 {
  visibility: hidden;
}
._credentialsIcon_6zc6p_164._isReady_6zc6p_167 {
  visibility: visible;
}