/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
._copyText_1swky_123 {
  padding: var(--spacing--xs);
  background-color: var(--color--background--light-2);
  border: var(--border);
  border-radius: var(--radius);
  cursor: pointer;
  position: relative;
  font-weight: var(--font-weight--regular);
}
._copyText_1swky_123 span {
  font-family: Monaco, Consolas;
  color: var(--color--text);
  overflow-wrap: break-word;
}
._copyText_1swky_123:hover {
  --display-copy-button: flex;
  width: 100%;
}
._noHover_1swky_142 {
  cursor: default;
}
._large_1swky_146 span {
  font-size: var(--font-size--sm);
  line-height: 1.5;
}
._medium_1swky_151 span {
  font-size: var(--font-size--xs);
  line-height: 1;
}
._collapsed_1swky_156 {
  white-space: nowrap;
  overflow: hidden;
}
._copyButton_1swky_161 {
  display: var(--display-copy-button, none);
  position: absolute;
  top: 0;
  right: 0;
  padding: var(--spacing--xs);
  background-color: var(--color--background--light-2);
  height: 100%;
  align-items: center;
  border-radius: var(--radius);
}
._copyButton_1swky_161 span {
  font-family: unset;
}
._hint_1swky_176 {
  margin-top: var(--spacing--2xs);
  font-size: var(--font-size--2xs);
  line-height: var(--line-height--lg);
  font-weight: var(--font-weight--regular);
  word-break: normal;
}