/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._card_13qfw_125 {
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}
._card_13qfw_125:hover {
  box-shadow: var(--shadow--card-hover);
}
._card-icon_13qfw_133 {
  flex-shrink: 0;
  color: var(--color--text);
  align-content: center;
  text-align: center;
}
._card-header_13qfw_140 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: var(--spacing--xs);
  margin-bottom: var(--spacing--5xs);
}
._card-footer_13qfw_148 {
  display: flex;
}
._info-cell_13qfw_152 + ._info-cell_13qfw_152::before {
  content: "|";
  margin: 0 var(--spacing--4xs);
}
@media screen and (max-width: 991px) {
._card_13qfw_125 {
    flex-wrap: wrap;
}
._info-cell--created_13qfw_161,
  ._info-cell--column-count_13qfw_162,
  ._info-cell--size_13qfw_163 {
    display: none;
}
}