/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._baseCell_1k0be_125 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid var(--border-color--light) !important;
  vertical-align: top !important;
}
._baseCell_1k0be_125 > div {
  white-space: nowrap !important;
}
._expandedCell_1k0be_136 {
  white-space: normal;
  background: var(--color--background--light-1);
  border-bottom: 1px solid var(--border-color--light) !important;
  vertical-align: top !important;
}
._expandedCell_1k0be_136 > div {
  white-space: normal !important;
}
._customRow_1k0be_146 {
  cursor: pointer;
  --table--row--color--background--hover: var(--color--background);
}
._customDisabledRow_1k0be_151 {
  cursor: default;
  --table--row--color--background--hover: var(--color--background--light-2);
}
._customHeaderCell_1k0be_156 {
  display: flex;
  gap: 4px;
}
._customHeaderCellLabel_1k0be_161 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  font-weight: var(--font-weight--bold);
  color: var(--color--text);
}
._customHeaderCellSort_1k0be_170 {
  display: flex;
  align-items: center;
}
._table_1k0be_175 {
  border-radius: 12px;
}
._table_1k0be_175 .el-table__column-resize-proxy {
  background-color: var(--color--primary);
  width: 3px;
}
._table_1k0be_175 thead th {
  padding: 6px 0;
}
._table_1k0be_175 .caret-wrapper {
  display: none;
}
._table_1k0be_175 .el-scrollbar__thumb {
  background-color: var(--color--foreground);
}
._table_1k0be_175 .el-scrollbar__bar {
  opacity: 1;
}
._table_1k0be_175 * {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
._table_1k0be_175 *::-webkit-scrollbar {
  display: none;
}