/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._fixedCollectionParameter_1ijik_125 {
  padding-left: var(--spacing--sm);
}
._fixedCollectionParameter_1ijik_125 ._ghost_1ijik_128,
._fixedCollectionParameter_1ijik_125 ._dragging_1ijik_129 {
  border-radius: var(--radius);
  padding-right: var(--spacing--xs);
}
._fixedCollectionParameter_1ijik_125 ._ghost_1ijik_128 {
  background-color: var(--color--background);
  opacity: 0.5;
}
._fixedCollectionParameter_1ijik_125 ._dragging_1ijik_129 {
  background-color: var(--color--background--light-3);
  opacity: 0.7;
}
._fixedCollectionParameter_1ijik_125 ._dragging_1ijik_129 ._parameterItemWrapper_1ijik_141 {
  border: none;
}
._fixedCollectionParameter_1ijik_125 ._controls_1ijik_144 .button {
  font-weight: var(--font-weight--regular);
  --button--color--text: var(--color--text--shade-1);
  --button--border-color: var(--color--foreground);
  --button--color--background: var(--color--background);
  --button--color--text--hover: var(--color--text--shade-1);
  --button--border-color--hover: var(--color--foreground);
  --button--color--background--hover: var(--color--background);
  --button--color--text--active: var(--color--text--shade-1);
  --button--border-color--active: var(--color--foreground);
  --button--color--background--active: var(--color--background);
  --button--color--text--focus: var(--color--text--shade-1);
  --button--border-color--focus: var(--color--foreground);
  --button--color--background--focus: var(--color--background);
}
._fixedCollectionParameter_1ijik_125 ._controls_1ijik_144 .button:active, ._fixedCollectionParameter_1ijik_125 ._controls_1ijik_144 .button._active_1ijik_159, ._fixedCollectionParameter_1ijik_125 ._controls_1ijik_144 .button:focus {
  outline: none;
}
._fixedCollectionParameterProperty_1ijik_163 {
  margin: var(--spacing--xs) 0;
  margin-bottom: 0;
}
._iconButton_1ijik_168 {
  display: flex;
  flex-direction: column;
  position: absolute;
  opacity: 0;
  top: -3px;
  left: calc(-0.5 * var(--spacing--xs));
  transition: opacity 100ms ease-in;
}
._parameterItem_1ijik_141 {
  position: relative;
  padding: 0 0 var(--spacing--sm) var(--spacing--sm);
}
._parameterItem_1ijik_141:hover > ._parameterItemWrapper_1ijik_141 > ._iconButton_1ijik_168 {
  opacity: 1;
}
._parameterItem_1ijik_141 + ._parameterItem_1ijik_141 ._parameterItemWrapper_1ijik_141 ._defaultTopPadding_1ijik_185 {
  top: calc(1.2 * var(--spacing--sm));
}
._parameterItem_1ijik_141 + ._parameterItem_1ijik_141 ._parameterItemWrapper_1ijik_141 ._extraTopPadding_1ijik_188 {
  top: calc(2.2 * var(--spacing--sm));
}
._parameterItem_1ijik_141:first-of-type ._parameterItemWrapper_1ijik_141 ._defaultTopPadding_1ijik_185 {
  top: var(--spacing--3xs);
}
._parameterItem_1ijik_141:first-of-type ._parameterItemWrapper_1ijik_141 ._extraTopPadding_1ijik_188 {
  top: var(--spacing--lg);
}
._borderTopDashed_1ijik_198 {
  border-top: var(--border-width) dashed var(--color--foreground--shade-1);
}
._noItemsExist_1ijik_202 {
  margin: var(--spacing--xs) 0;
}
._addOption_1ijik_206 > * {
  border: none;
}
._addOption_1ijik_206 .el-select .el-input.is-disabled .el-input__icon {
  opacity: 1 !important;
  cursor: not-allowed;
  color: var(--color--foreground--shade-1);
}
._addOption_1ijik_206 .el-select .el-input.is-disabled .el-input__inner,
._addOption_1ijik_206 .el-select .el-input.is-disabled .el-input__inner::placeholder {
  opacity: 1;
  color: var(--color--foreground--shade-1);
}
._addOption_1ijik_206 .el-select .el-input:not(.is-disabled) .el-input__icon {
  color: var(--color--text--shade-1);
}
._addOption_1ijik_206 .el-input .el-input__inner {
  text-align: center;
}
._addOption_1ijik_206 .el-input:not(.is-disabled) .el-input__inner, ._addOption_1ijik_206 .el-input:not(.is-disabled) .el-input__inner:hover, ._addOption_1ijik_206 .el-input:not(.is-disabled) .el-input__inner:focus {
  padding-left: 35px;
  border-radius: var(--radius);
  color: var(--color--text--shade-1);
  background-color: var(--color--background);
  border-color: var(--color--foreground);
  text-align: center;
}
._addOption_1ijik_206 .el-input:not(.is-disabled) .el-input__inner::placeholder {
  color: var(--color--text--shade-1);
  opacity: 1;
}
.optional-value-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._dragHandle_1vesa_125 {
  cursor: grab;
}
._dragging_1vesa_129 {
  cursor: grabbing;
}
._addOption_1vesa_133 {
  margin-bottom: var(--spacing--xs);
  padding-left: var(--spacing--xs);
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._ghost_1t7ke_125,
._dragging_1t7ke_126 {
  border-radius: var(--radius);
  cursor: grabbing;
}
._ghost_1t7ke_125 {
  background-color: var(--color--background);
  opacity: 0.5;
}
._dragging_1t7ke_126 {
  background-color: var(--color--background--light-3);
  opacity: 0.7;
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._fixedCollectionParameter_du7gp_125 {
  padding-left: 0;
}
._propertySection_du7gp_129 {
  margin-bottom: var(--spacing--xs);
}
._propertySection_du7gp_129:last-child {
  margin-bottom: 0;
}
._propertySection_du7gp_129 + ._propertySection_du7gp_129 {
  padding-top: var(--spacing--xs);
  border-top: var(--border-width) solid var(--color--foreground);
}
._sectionHeader_du7gp_140 {
  margin-bottom: 0;
}
._controls_du7gp_144 {
  margin-top: var(--spacing--xs);
}
._dropdown_du7gp_148 {
  display: inline-flex;
}