/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
.el-menu._dropdown_z37pb_123 {
  border-bottom: 0;
  background-color: transparent;
}
.el-menu._dropdown_z37pb_123 > .el-sub-menu > .el-sub-menu__title {
  height: auto;
  line-height: initial;
  border-bottom: 0 !important;
  padding: 0;
}
.el-menu._dropdown_z37pb_123 > .el-sub-menu > .el-sub-menu__title .el-sub-menu__icon-arrow {
  display: none;
}
.el-menu._dropdown_z37pb_123 > .el-sub-menu.is-active .el-sub-menu__title {
  border: 0;
}
.el-menu._dropdown_z37pb_123 hr {
  border-top: none;
  border-bottom: var(--border);
  margin-block: var(--spacing--4xs);
}
._nestedSubmenu_z37pb_145 .el-menu {
  max-height: 450px;
  overflow: auto;
}
._submenu_z37pb_150 {
  padding: 5px 0 !important;
}
._submenu_z37pb_150 .el-menu--horizontal .el-menu .el-menu-item,
._submenu_z37pb_150 .el-menu--horizontal .el-menu .el-sub-menu__title {
  color: var(--color--text--shade-1);
  background-color: var(--color-menu-background);
}
._submenu_z37pb_150 .el-menu--horizontal .el-menu .el-menu-item:not(.is-disabled):hover,
._submenu_z37pb_150 .el-menu--horizontal .el-menu .el-sub-menu__title:not(.is-disabled):hover {
  background-color: var(--color-menu-hover-background);
}
._submenu_z37pb_150 .el-popper {
  padding: 0 10px !important;
}
._submenu_z37pb_150 .el-menu--popup {
  border: 1px solid var(--color--foreground);
  border-radius: var(--radius);
}
._submenu_z37pb_150 .el-menu--horizontal .el-menu .el-menu-item.is-disabled {
  opacity: 1;
  cursor: default;
  color: var(--color--text--tint-1);
}
._submenu_z37pb_150 .el-sub-menu__icon-arrow svg {
  margin-top: auto;
}
._subMenuTitle_z37pb_178 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--spacing-2xs);
}
._submenu__icon_z37pb_184 {
  margin-right: var(--spacing--2xs);
  color: var(--color--text);
}