/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._wrapper_gh0gb_125 {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
._canvas_gh0gb_133 {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  align-items: stretch;
  justify-content: stretch;
  background-color: var(--canvas--color--background);
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._component_1ef46_125 {
  height: 100%;
  overflow: auto;
}
._multipleNodes_1ef46_130 {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: var(--spacing--3xl) var(--spacing--md);
  gap: var(--spacing--md);
}
._multipleNodesActions_1ef46_140 {
  align-self: stretch;
  list-style-type: none;
}
._multipleNodesAction_1ef46_140 {
  margin-top: -1px;
}
._multipleNodesAction_1ef46_140 button {
  width: 100%;
  border-radius: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-color: var(--border-color--light);
}
._multipleNodesAction_1ef46_140 button:disabled {
  border-color: var(--border-color--light);
}
._multipleNodesAction_1ef46_140:first-of-type button {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}
._multipleNodesAction_1ef46_140:last-of-type button {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
._multipleNodesAction_1ef46_140 button:hover {
  z-index: 1;
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._component_1p4tv_125 {
  display: flex;
  align-items: center;
  padding: var(--spacing--2xs);
  gap: var(--spacing--2xs);
  border-bottom: var(--border);
}
._breadcrumbs_1p4tv_133 {
  display: flex;
  align-items: center;
  gap: var(--spacing--4xs);
  flex-grow: 1;
  flex-shrink: 1;
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._wrapper_2484r_125 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-left: 1px solid var(--color--foreground);
  background: var(--color--background--light-3);
  overflow-y: hidden;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
}
._container_2484r_137 {
  display: flex;
  flex-direction: column;
  height: 100%;
}
._content_2484r_143 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
._content_2484r_143._emptyContent_2484r_149 {
  text-align: center;
  justify-content: center;
  align-items: center;
}
._isNdvInFocusPanelEnabled_2484r_154 ._content_2484r_143._emptyContent_2484r_149 {
  flex-direction: column-reverse;
}
._content_2484r_143._emptyContent_2484r_149 ._emptyText_2484r_157 {
  margin: 0 var(--spacing--xl);
  display: flex;
  flex-direction: column;
  gap: var(--spacing--2xs);
}
._content_2484r_143._emptyContent_2484r_149 ._focusParameterWrapper_2484r_163 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing--2xs);
  margin-block: var(--spacing--md);
}
._content_2484r_143._emptyContent_2484r_149 ._focusParameterWrapper_2484r_163 ._iconWrapper_2484r_170 {
  position: relative;
  display: inline-block;
}
._content_2484r_143._emptyContent_2484r_149 ._focusParameterWrapper_2484r_163 ._pointerIcon_2484r_174 {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-20%, -30%);
  pointer-events: none;
}
._content_2484r_143._emptyContent_2484r_149 ._focusParameterWrapper_2484r_163 [class*="_disabled_"] {
  cursor: default !important;
}
._content_2484r_143 ._tabHeader_2484r_184 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color--foreground);
  padding: var(--spacing--2xs);
}
._content_2484r_143 ._tabHeader_2484r_184 ._tabHeaderText_2484r_191 {
  display: flex;
  gap: var(--spacing--4xs);
  align-items: baseline;
}
._content_2484r_143 ._tabHeader_2484r_184 ._buttonWrapper_2484r_196 {
  display: flex;
  gap: var(--spacing--2xs);
  align-items: center;
}
._content_2484r_143 ._parameterDetailsWrapper_2484r_201 {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: var(--spacing--2xs);
  padding: var(--spacing--2xs);
}
._content_2484r_143 ._parameterDetailsWrapper_2484r_201 ._parameterOptionsWrapper_2484r_208 {
  display: flex;
  justify-content: space-between;
}
._content_2484r_143 ._parameterDetailsWrapper_2484r_201 ._noExecutionDataTip_2484r_212 {
  align-content: center;
}
._content_2484r_143 ._parameterDetailsWrapper_2484r_201 ._editorContainer_2484r_215 {
  height: 0;
  flex-grow: 1;
}
._content_2484r_143 ._parameterDetailsWrapper_2484r_201 ._editorContainer_2484r_215 ._editor_2484r_215 {
  display: flex;
  height: 100%;
  width: 100%;
  font-size: var(--font-size--2xs);
}
._content_2484r_143 ._parameterDetailsWrapper_2484r_201 ._editorContainer_2484r_215 ._editor_2484r_215 .cm-editor {
  background-color: var(--code--color--background);
  width: 100%;
}
._delayedShow_2484r_230 {
  opacity: 0;
  transition: opacity 0.1s none;
  animation: _triggerShow_2484r_1 0.1s normal 0.1s forwards;
}
@keyframes _triggerShow_2484r_1 {
to {
    opacity: 1;
}
}
._closeButton_2484r_241 {
  cursor: pointer;
}
._heightFull_2484r_245 {
  height: 100%;
}
._forceHover_2484r_249 {
  color: var(--button--color--text--secondary--hover-active-focus);
  border-color: var(--button--border-color--secondary--hover-active-focus);
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._wrapper_1c6e5_125 {
  display: flex;
  width: 100%;
}
._executionButtons_1c6e5_130 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  bottom: var(--spacing--sm);
  width: auto;
}
@media screen and (max-width: 991px) {
._executionButtons_1c6e5_130 {
    left: auto;
    right: var(--spacing--sm);
    transform: none;
}
}
._executionButtons_1c6e5_130 button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.625rem;
}
._executionButtons_1c6e5_130 button:first-child {
  margin: 0;
}
@media screen and (max-width: 767px) {
._executionButtons_1c6e5_130 button {
    text-indent: -10000px;
    width: 42px;
    height: 42px;
    padding: 0;
}
._executionButtons_1c6e5_130 button span {
    margin: 0;
}
}
._executionButtons_1c6e5_130 ._chatButton_1c6e5_167 {
  align-self: stretch;
}
._setupCredentialsButtonWrapper_1c6e5_171 {
  position: absolute;
  left: var(--spacing--sm);
  top: var(--spacing--sm);
}
._readOnlyEnvironmentNotification_1c6e5_177 {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}
._canvasCenterPill_1c6e5_184 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}