/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._dragContainer_47t4e_125 {
  pointer-events: all;
}
._dragButton_47t4e_129 {
  background-color: var(--ndv--header--color);
  width: 64px;
  height: 21px;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  position: relative;
  z-index: 3;
}
._dragButton_47t4e_129:hover ._leftArrow_47t4e_143,
._dragButton_47t4e_129:hover ._rightArrow_47t4e_144 {
  visibility: visible;
}
._visible_47t4e_148 {
  visibility: visible !important;
}
._arrow_47t4e_152 {
  position: absolute;
  color: var(--color--background--light-3);
  font-size: var(--font-size--3xs);
  visibility: hidden;
  top: 0;
}
._leftArrow_47t4e_143 {
  left: -16px;
}
._rightArrow_47t4e_144 {
  right: -16px;
}
._grid_47t4e_170 > div {
  display: flex;
}
._grid_47t4e_170 > div:first-child > div {
  margin-bottom: 2px;
}
._grid_47t4e_170 > div > div {
  height: 2px;
  width: 2px;
  border-radius: 50%;
  background-color: var(--color--foreground--shade-2);
  margin-right: 4px;
}
._grid_47t4e_170 > div > div:last-child {
  margin-right: 0;
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._dataPanel_6rjea_125 {
  position: absolute;
  height: calc(100% - 2 * var(--spacing--lg));
  position: absolute;
  top: var(--spacing--lg);
  z-index: 0;
  min-width: 280px;
}
._inputPanel_6rjea_134 {
  left: var(--spacing--lg);
}
._inputPanel_6rjea_134 > * {
  border-radius: var(--radius--lg) 0 0 var(--radius--lg);
}
._outputPanel_6rjea_142 {
  right: var(--spacing--lg);
}
._outputPanel_6rjea_142 > * {
  border-radius: 0 var(--radius--lg) var(--radius--lg) 0;
}
._mainPanel_6rjea_150 {
  position: absolute;
  height: 100%;
}
._mainPanel_6rjea_150:hover ._draggable_6rjea_154 {
  visibility: visible;
}
._mainPanelInner_6rjea_158 {
  height: 100%;
  border: var(--border);
  border-radius: var(--radius--lg);
  box-shadow: 0 4px 16px rgba(50, 61, 85, 0.1);
  overflow: hidden;
}
._mainPanelInner_6rjea_158._dragging_6rjea_165 {
  border-color: var(--color--primary);
  box-shadow: 0 6px 16px rgba(255, 74, 51, 0.15);
}
._draggable_6rjea_154 {
  visibility: hidden;
}
._double-width_6rjea_174 {
  left: 90%;
}
._dragButtonContainer_6rjea_178 {
  position: absolute;
  top: -12px;
  width: 100%;
  height: 12px;
  display: flex;
  justify-content: center;
  pointer-events: none;
}
._dragButtonContainer_6rjea_178 ._draggable_6rjea_154 {
  pointer-events: all;
}
._dragButtonContainer_6rjea_178:hover ._draggable_6rjea_154 {
  visibility: visible;
}
._visible_6rjea_194 {
  visibility: visible;
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
.ndv-wrapper {
  overflow: visible;
  margin-top: 0;
}
.data-display-wrapper {
  height: 100%;
  margin-top: var(--spacing--xl) !important;
  margin-bottom: var(--spacing--xl) !important;
  width: 100%;
  background: none;
  border: none;
}
.data-display-wrapper .el-dialog__header {
  padding: 0 !important;
}
.data-display-wrapper .el-dialog__body {
  padding: 0 !important;
  height: 100%;
  min-height: 400px;
  overflow: visible;
  border-radius: 8px;
}
.data-display {
  height: 100%;
  width: 100%;
  display: flex;
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._modalBackground_10ueg_125 {
  height: 100%;
  width: 100%;
}
._triggerWarning_10ueg_130 {
  max-width: 180px;
}
._backToCanvas_10ueg_134 {
  position: fixed;
  top: var(--spacing--xs);
  left: var(--spacing--lg);
  display: flex;
  align-items: center;
  gap: var(--spacing--3xs);
}
._backToCanvas_10ueg_134 span {
  color: var(--ndv--back--color--text);
}
._backToCanvas_10ueg_134:hover {
  cursor: pointer;
}
@media (min-width: 1920px) {
._backToCanvas_10ueg_134 {
    top: var(--spacing--xs);
    left: var(--spacing--md);
}
}
._featureRequest_10ueg_155 {
  position: absolute;
  bottom: var(--spacing--4xs);
  left: calc(100% + var(--spacing--sm));
  color: var(--feature-request--color--text);
  font-size: var(--font-size--2xs);
  white-space: nowrap;
}
._featureRequest_10ueg_155 * {
  margin-right: var(--spacing--3xs);
}