/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._wrapper_gh0gb_125 {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
._canvas_gh0gb_133 {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  align-items: stretch;
  justify-content: stretch;
  background-color: var(--canvas--color--background);
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._container_1xsug_125 {
  display: flex;
  padding-top: var(--spacing--xs);
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._credential-label-row_1nlke_125 {
  display: flex;
  align-items: center;
  gap: var(--spacing--2xs);
}
._credential-label_1nlke_125 {
  font-size: var(--font-size--sm);
  color: var(--color--text--shade-1);
}
._shared-nodes-hint_1nlke_136 {
  font-size: var(--font-size--sm);
  color: var(--color--text--tint-1);
  cursor: default;
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._card_l1dfx_125 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing--2xs);
  background-color: var(--color--background--light-2);
  border: var(--border);
  border-radius: var(--radius);
}
._card_l1dfx_125 ._header-icon_l1dfx_134._chevron_l1dfx_134 {
  display: none;
}
._card_l1dfx_125:hover ._header-icon_l1dfx_134._chevron_l1dfx_134 {
  display: block;
}
._card_l1dfx_125:hover ._header-icon_l1dfx_134._trigger_l1dfx_140 {
  display: none;
}
._header_l1dfx_134 {
  display: flex;
  gap: var(--spacing--xs);
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  padding: var(--spacing--sm) var(--spacing--sm) 0;
}
._card_l1dfx_125:not(._collapsed_l1dfx_151) ._header_l1dfx_134 {
  margin-bottom: var(--spacing--sm);
}
._card_l1dfx_125._no-content_l1dfx_154 ._header_l1dfx_134 {
  margin-bottom: 0;
}
._node-name_l1dfx_158 {
  flex: 1;
  font-weight: var(--font-weight--medium);
}
._complete-icon_l1dfx_163 {
  color: var(--color--success);
}
._content_l1dfx_167 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing--xs);
  padding: 0 var(--spacing--sm);
}
._credential-container_l1dfx_174 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing--3xs);
}
._credential-picker_l1dfx_180 {
  flex: 1;
}
._footer_l1dfx_184 {
  display: flex;
  justify-content: flex-end;
  padding: var(--spacing--sm);
}
._footer-complete-check_l1dfx_190 {
  display: flex;
  align-items: center;
  gap: var(--spacing--4xs);
}
._card_l1dfx_125._collapsed_l1dfx_151 ._header_l1dfx_134 {
  padding: var(--spacing--sm);
}
._card_l1dfx_125._collapsed_l1dfx_151 ._node-name_l1dfx_158 {
  color: var(--color--text--tint-1);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
._card_l1dfx_125._completed_l1dfx_206 {
  border-color: var(--color--success);
}
._card_l1dfx_125._completed_l1dfx_206 ._footer_l1dfx_184 {
  justify-content: space-between;
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._container_1011p_125,
._card-list_1011p_126 {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  gap: var(--spacing--sm);
}
._empty-state_1011p_134 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: var(--spacing--2xs);
}
._empty-text_1011p_144 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
._complete-message_1011p_150 {
  text-align: center;
  color: var(--color--text--tint-1);
  font-size: var(--font-size--sm);
  padding: var(--spacing--sm);
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._container_17sfi_125 {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  padding: var(--spacing--xs);
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--color--background--light-1);
  position: relative;
  top: calc(-1 * var(--spacing--5xs));
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._component_1ef46_125 {
  height: 100%;
  overflow: auto;
}
._multipleNodes_1ef46_130 {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: var(--spacing--3xl) var(--spacing--md);
  gap: var(--spacing--md);
}
._multipleNodesActions_1ef46_140 {
  align-self: stretch;
  list-style-type: none;
}
._multipleNodesAction_1ef46_140 {
  margin-top: -1px;
}
._multipleNodesAction_1ef46_140 button {
  width: 100%;
  border-radius: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-color: var(--border-color--light);
}
._multipleNodesAction_1ef46_140 button:disabled {
  border-color: var(--border-color--light);
}
._multipleNodesAction_1ef46_140:first-of-type button {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}
._multipleNodesAction_1ef46_140:last-of-type button {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
._multipleNodesAction_1ef46_140 button:hover {
  z-index: 1;
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._component_1p4tv_125 {
  display: flex;
  align-items: center;
  padding: var(--spacing--2xs);
  gap: var(--spacing--2xs);
  border-bottom: var(--border);
}
._breadcrumbs_1p4tv_133 {
  display: flex;
  align-items: center;
  gap: var(--spacing--4xs);
  flex-grow: 1;
  flex-shrink: 1;
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._content_9h1id_125 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
._content_9h1id_125._emptyContent_9h1id_131 {
  text-align: center;
  justify-content: center;
  align-items: center;
}
._isNdvInFocusPanelEnabled_9h1id_136 ._content_9h1id_125._emptyContent_9h1id_131 {
  flex-direction: column-reverse;
}
._content_9h1id_125._emptyContent_9h1id_131 ._emptyText_9h1id_139 {
  margin: 0 var(--spacing--xl);
  display: flex;
  flex-direction: column;
  gap: var(--spacing--2xs);
}
._content_9h1id_125._emptyContent_9h1id_131 ._focusParameterWrapper_9h1id_145 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing--2xs);
  margin-block: var(--spacing--md);
}
._content_9h1id_125._emptyContent_9h1id_131 ._focusParameterWrapper_9h1id_145 ._iconWrapper_9h1id_152 {
  position: relative;
  display: inline-block;
}
._content_9h1id_125._emptyContent_9h1id_131 ._focusParameterWrapper_9h1id_145 ._pointerIcon_9h1id_156 {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-20%, -30%);
  pointer-events: none;
}
._content_9h1id_125._emptyContent_9h1id_131 ._focusParameterWrapper_9h1id_145 [class*="_disabled_"] {
  cursor: default !important;
}
._content_9h1id_125 ._tabHeader_9h1id_166 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color--foreground);
  padding: var(--spacing--2xs);
}
._content_9h1id_125 ._tabHeader_9h1id_166 ._tabHeaderText_9h1id_173 {
  display: flex;
  gap: var(--spacing--4xs);
  align-items: baseline;
}
._content_9h1id_125 ._tabHeader_9h1id_166 ._buttonWrapper_9h1id_178 {
  display: flex;
  gap: var(--spacing--2xs);
  align-items: center;
}
._content_9h1id_125 ._parameterDetailsWrapper_9h1id_183 {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: var(--spacing--2xs);
  padding: var(--spacing--2xs);
}
._content_9h1id_125 ._parameterDetailsWrapper_9h1id_183 ._parameterOptionsWrapper_9h1id_190 {
  display: flex;
  justify-content: space-between;
}
._content_9h1id_125 ._parameterDetailsWrapper_9h1id_183 ._noExecutionDataTip_9h1id_194 {
  align-content: center;
}
._content_9h1id_125 ._parameterDetailsWrapper_9h1id_183 ._editorContainer_9h1id_197 {
  height: 0;
  flex-grow: 1;
}
._content_9h1id_125 ._parameterDetailsWrapper_9h1id_183 ._editorContainer_9h1id_197 ._editor_9h1id_197 {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: normal;
  font-size: var(--font-size--2xs);
}
._content_9h1id_125 ._parameterDetailsWrapper_9h1id_183 ._editorContainer_9h1id_197 ._editor_9h1id_197 .cm-editor {
  background-color: var(--code--color--background);
  width: 100%;
}
._delayedShow_9h1id_213 {
  opacity: 0;
  transition: opacity 0.1s none;
  animation: _triggerShow_9h1id_1 0.1s normal 0.1s forwards;
}
@keyframes _triggerShow_9h1id_1 {
to {
    opacity: 1;
}
}
._closeButton_9h1id_224 {
  cursor: pointer;
}
._heightFull_9h1id_228 {
  height: 100%;
}
._forceHover_9h1id_232 {
  color: var(--button--color--text--secondary--hover-active-focus);
  border-color: var(--button--border-color--secondary--hover-active-focus);
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._wrapper_1ek2u_125 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-left: 1px solid var(--color--foreground);
  background: var(--color--background--light-3);
  overflow: hidden;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
}
._container_1ek2u_137 {
  display: flex;
  flex-direction: column;
  height: 100%;
}
._setup-panel-wrapper_1ek2u_143 {
  display: flex;
  flex-direction: column;
  height: calc(100% - 36px);
  width: 100%;
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._wrapper_1uyi2_125 {
  display: flex;
  width: 100%;
}
._executionButtons_1uyi2_130 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing--xs);
  left: 50%;
  transform: translateX(-50%);
  bottom: var(--spacing--sm);
  width: auto;
}
@media screen and (max-width: 991px) {
._executionButtons_1uyi2_130 {
    left: auto;
    right: var(--spacing--sm);
    transform: none;
}
}
._executionButtons_1uyi2_130 ._chatButton_1uyi2_148 {
  align-self: stretch;
}
._setupCredentialsButtonWrapper_1uyi2_152 {
  position: absolute;
  left: var(--spacing--sm);
  top: var(--spacing--sm);
}
._readOnlyEnvironmentNotification_1uyi2_158 {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}
._canvasCenterPill_1uyi2_165 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}