/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._overlay_k3net_125 {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(71, 69, 84, 0.75);
  z-index: 1000;
}
._consent-dialog_k3net_138 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 500px;
  max-width: 70%;
  padding: var(--spacing--lg);
  background-color: var(--color--background--light-3);
  border: var(--border);
  border-radius: var(--radius--lg);
}
._header_k3net_151 {
  display: flex;
  align-items: center;
  gap: var(--spacing--xs);
}
._logo_k3net_157 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--spacing--2xl);
  height: var(--spacing--2xl);
  border: var(--border);
  border-radius: var(--radius);
}
._logo_k3net_157._n8n_k3net_166 > div {
  position: relative;
  bottom: var(--spacing--5xs);
}
._content_k3net_171 {
  padding: var(--spacing--lg);
  display: flex;
  flex-direction: column;
  gap: var(--spacing--sm);
}
._success_k3net_178 {
  padding: var(--spacing--xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing--2xs);
  text-align: center;
}
._text-content_k3net_187 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing--sm);
}
._permission-list_k3net_193 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing--2xs);
  padding-left: var(--spacing--lg);
  list-style-type: disc;
}
._permission-list_k3net_193 li {
  color: var(--color--text);
  font-size: var(--font-size--2xs);
}
._docs-link_k3net_205 {
  color: var(--color--text);
  font-size: var(--font-size--2xs);
}
._footer_k3net_210 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing--sm);
}
._footer_k3net_210 .notice {
  margin: 0;
}
._footer_k3net_210 ._button-group_k3net_220 {
  display: flex;
  justify-content: center;
  gap: var(--spacing--2xs);
}