/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._wrapper_1bol0_125 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: var(--content-container--width);
  box-sizing: border-box;
  align-content: start;
  padding: var(--spacing--lg) var(--spacing--2xl) 0;
}
@media screen and (max-width: 991px) {
._wrapper_1bol0_125 {
    padding: var(--spacing--sm) var(--spacing--sm) 0;
}
}
._content_1bol0_141 {
  display: grid;
  height: 100%;
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._wrapper_mbox7_125 {
  display: grid;
  height: 100%;
}
._overflow_mbox7_130 ._list_mbox7_130 ._body_mbox7_130 {
  overflow: auto;
}
._list_mbox7_130 {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}
._list_mbox7_130 ._body_mbox7_130 {
  position: relative;
  height: 100%;
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._filters-row_7jrhp_125 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: var(--spacing--2xs);
}
._filters_7jrhp_125 {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr max-content max-content max-content;
  gap: var(--spacing--4xs);
  align-items: center;
  justify-content: end;
  width: 100%;
}
._filters_7jrhp_125 ._sort-and-filter_7jrhp_143 {
  display: flex;
  gap: var(--spacing--4xs);
  align-items: center;
}
@media screen and (max-width: 767px) {
._filters_7jrhp_125 {
    grid-auto-flow: row;
    grid-auto-columns: unset;
    grid-template-columns: 1fr;
}
}
._search_7jrhp_156 {
  max-width: 196px;
  justify-self: end;
}
._search_7jrhp_156 input {
  height: 30px;
}
@media screen and (max-width: 991px) {
._search_7jrhp_156 {
    max-width: 100%;
}
}
._listWrapper_7jrhp_169 {
  position: absolute;
  height: 100%;
  width: 100%;
}
._paginatedListWrapper_7jrhp_175 {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  gap: var(--spacing--md);
}
._listItems_7jrhp_183 {
  overflow-y: auto;
}
._listPagination_7jrhp_187 {
  display: flex;
  justify-content: flex-end;
  margin-bottom: var(--spacing--lg);
}
._listPagination_7jrhp_187 .el-pagination__sizes {
  height: 100%;
  position: relative;
  top: -1px;
}
._listPagination_7jrhp_187 .el-pagination__sizes input {
  height: 100%;
  min-height: 28px;
}
._listPagination_7jrhp_187 .el-pagination__sizes .el-input__suffix {
  width: var(--spacing--md);
}
._sort-and-filter_7jrhp_143 {
  white-space: nowrap;
}
@media screen and (max-width: 991px) {
._sort-and-filter_7jrhp_143 {
    width: 100%;
}
}
._datatable_7jrhp_214 {
  padding-bottom: var(--spacing--sm);
}

/** NOTE (@heymynameisrob): Style override to match button and text input height **/
._resourceList_7jrhp_219 {
  height: var(--spacing--xl);
}
._resourceList_7jrhp_219 input[role=combobox] {
  height: var(--spacing--xl);
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
.resource-list-loading[data-v-cac35f61] {
  position: relative;
  height: 0;
  width: 100%;
  overflow: hidden;
  /*
  Show the loading skeleton only if the loading takes longer than 300ms
  */
  animation: 0.01s linear 0.3s forwards changeVisibility-cac35f61;
}
.resource-list-loading[data-v-cac35f61] .el-skeleton {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.resource-list-loading[data-v-cac35f61] .el-skeleton > div > div:first-child .el-skeleton__item {
  height: 42px;
  margin: 0;
}
.resource-list-loading[data-v-cac35f61] .el-skeleton .el-skeleton__item {
  height: 69px;
}
.resource-list-loading-instant[data-v-cac35f61] {
  animation: 0.01s linear 0s forwards changeVisibility-cac35f61;
}
@keyframes changeVisibility-cac35f61 {
from {
    height: 0;
}
to {
    height: 100%;
}
}