/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._container_6ylyr_125 {
  display: flex;
  align-items: center;
  gap: var(--spacing--2xs);
  width: 100%;
  min-height: 50px;
  min-width: 150px;
  padding-bottom: var(--spacing--4xs);
  padding-left: var(--spacing--4xs);
  border-style: solid;
  border-radius: var(--radius);
  border-width: 1px;
  border-color: var(--color--foreground--shade-1);
}
._container_6ylyr_125:hover ._download_6ylyr_139 {
  opacity: 1;
}
._wrapper_6ylyr_143 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  overflow: hidden;
  cursor: pointer;
}
._iconWrapper_6ylyr_155 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  overflow: hidden;
  color: var(--color--text--shade-2);
}
._imagePreview_6ylyr_165 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius);
}
._info_6ylyr_172 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing--4xs);
  flex: 1;
  min-width: 0;
  line-height: 1.2;
}
._filename_6ylyr_182 {
  font-size: var(--font-size--2xs);
  color: var(--color--text--shade-1);
  font-weight: var(--font-weight--bold);
  overflow: hidden;
  max-width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
._meta_6ylyr_193 {
  font-size: var(--font-size--3xs);
  color: var(--color--text--shade-2);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
._download_6ylyr_139 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  flex-shrink: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  color: var(--color--text--base);
}
._download_6ylyr_139:hover {
  color: var(--color--primary);
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._dataDisplay_1ms2m_125 {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: var(--spacing--xs);
  right: 0;
  overflow-y: auto;
  line-height: 1.5;
  word-break: normal;
  height: 100%;
  padding-bottom: var(--spacing--3xl);
}
._dataDisplay_1ms2m_125._compact_1ms2m_137 {
  padding-left: var(--spacing--2xs);
}
._table_1ms2m_141 {
  border-collapse: separate;
  text-align: left;
  width: 100%;
  font-size: var(--font-size--2xs);
  color: var(--color--text);
}
._table_1ms2m_141 th {
  background-color: var(--color--background);
  border-top: var(--border);
  border-bottom: var(--border);
  border-left: var(--border);
  position: sticky;
  top: 0;
  color: var(--color--text--shade-1);
  z-index: 1;
}
._lightHeader_1ms2m_158 ._table_1ms2m_141 th {
  background-color: var(--color--background--light-2);
}
._table_1ms2m_141 th._tableRightMargin_1ms2m_161 {
  background-color: transparent;
}
._table_1ms2m_141 td {
  vertical-align: top;
  padding: var(--spacing--4xs) var(--spacing--3xs);
  border-bottom: var(--border);
  border-left: var(--border);
  overflow-wrap: break-word;
  white-space: pre-wrap;
  vertical-align: top;
}
._table_1ms2m_141 td:first-child,
._table_1ms2m_141 td:nth-last-child(2) {
  position: relative;
  z-index: 0;
}
._table_1ms2m_141 td:first-child:after,
._table_1ms2m_141 td:nth-last-child(2):after {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  top: 0;
}
._table_1ms2m_141 td:nth-last-child(2):after {
  right: -1px;
}
._table_1ms2m_141 td:first-child:after {
  left: -1px;
}
._table_1ms2m_141 th:last-child,
._table_1ms2m_141 td:last-child {
  border-right: var(--border);
}
._hasCollapsingColumn_1ms2m_196 ._table_1ms2m_141 {
  table-layout: fixed;
}
._hasCollapsingColumn_1ms2m_196 ._table_1ms2m_141 td:not(._isCollapsingColumn_1ms2m_199) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
._hasCollapsingColumn_1ms2m_196 ._table_1ms2m_141 td:not(._isCollapsingColumn_1ms2m_199) .n8n-tree {
  height: 1.5em;
  overflow: hidden;
}
th._isCollapsingColumn_1ms2m_199 {
  border-top-color: var(--color--foreground--shade-2);
  border-left-color: var(--color--foreground--shade-2);
  border-right-color: var(--color--foreground--shade-2);
}
td._isCollapsingColumn_1ms2m_199 {
  border-left-color: var(--color--foreground--shade-2);
  border-right-color: var(--color--foreground--shade-2);
}
tr:last-child td._isCollapsingColumn_1ms2m_199 {
  border-bottom-color: var(--color--foreground--shade-2);
}
td._isCollapsingColumn_1ms2m_199 + td,
th._isCollapsingColumn_1ms2m_199 + th {
  border-left-color: var(--color--foreground--shade-2);
}
._nodeClass_1ms2m_228 {
  margin-bottom: var(--spacing--5xs);
}
._emptyCell_1ms2m_232 {
  height: 32px;
}
._header_1ms2m_236 {
  display: flex;
  align-items: center;
  padding: var(--spacing--4xs) var(--spacing--3xs);
}
._header_1ms2m_236 span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-grow: 1;
}
._draggableHeader_1ms2m_248:hover {
  cursor: grab;
  background-color: var(--color--foreground);
}
._draggableHeader_1ms2m_248:hover ._dragButton_1ms2m_252 {
  opacity: 1;
}
._highlight_1ms2m_256 ._draggableHeader_1ms2m_248 {
  color: var(--color--primary);
}
._draggingHeader_1ms2m_260 {
  color: var(--color--primary);
  background-color: var(--color--primary--tint-2);
}
._activeHeader_1ms2m_265 ._dragButton_1ms2m_252 {
  opacity: 1;
}
._dragButton_1ms2m_252 {
  opacity: 0;
}
._dragButton_1ms2m_252 > svg {
  vertical-align: middle;
}
._dataKey_1ms2m_276 {
  color: var(--color--text--shade-1);
  line-height: 1.7;
  font-weight: var(--font-weight--bold);
  border-radius: var(--radius);
  padding: 0 var(--spacing--5xs) 0 var(--spacing--5xs);
  margin-right: var(--spacing--5xs);
}
._value_1ms2m_285 {
  line-height: var(--line-height--md);
}
._nestedValue_1ms2m_289 {
  margin-left: var(--spacing--4xs);
}
._mappable_1ms2m_294 {
  cursor: grab;
}
._empty_1ms2m_232 {
  color: var(--color--danger);
  font-style: italic;
}
._limitColWidth_1ms2m_303 {
  max-width: 300px;
}
._minColWidth_1ms2m_307 {
  min-width: 240px;
}
._hoveringKey_1ms2m_311 {
  background-color: var(--color--foreground);
}
._draggingKey_1ms2m_315 {
  background-color: var(--color--primary--tint-2);
}
._tableRightMargin_1ms2m_161 {
  width: var(--ndv--spacing);
  border-right: none !important;
  border-top: none !important;
  border-bottom: none !important;
}
._compact_1ms2m_137 ._tableRightMargin_1ms2m_161 {
  padding: 0;
  min-width: var(--spacing--2xs);
  max-width: var(--spacing--2xs);
}
._hoveringRow_1ms2m_331 td:first-child:after,
._hoveringRow_1ms2m_331 td:nth-last-child(2):after {
  background-color: var(--color--secondary);
}
._warningTooltip_1ms2m_336 {
  color: var(--color--warning);
}
._executionLinkCell_1ms2m_340 {
  padding: var(--spacing--3xs) !important;
}
._executionLinkRowHeader_1ms2m_344 {
  width: var(--spacing--md);
}
._collapseColumnButton_1ms2m_348 {
  opacity: 0;
  margin-block: calc(-2 * var(--spacing--2xs));
}
._collapseColumnButton_1ms2m_348 span {
  flex-shrink: 0;
}
._isCollapsingColumn_1ms2m_199 ._collapseColumnButton_1ms2m_348, th._isHoveredColumn_1ms2m_355 ._collapseColumnButton_1ms2m_348, th:hover ._collapseColumnButton_1ms2m_348 {
  opacity: 1;
}