/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._ioSearch_1bmr7_125 {
  transition: max-width 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  --input--border-color: transparent;
  --input--border-color--hover: transparent;
  --input--border-color--focus: transparent;
  --input--color--background: transparent;
}
._ioSearch_1bmr7_125 ._ioSearchIcon_1bmr7_132 {
  color: var(--color--foreground--shade-2);
  cursor: pointer;
  vertical-align: middle;
}
._ioSearch_1bmr7_125 input {
  opacity: 0;
  cursor: pointer;
}
._ioSearchOpened_1bmr7_142 {
  --input--border-color: var(--border-color);
  --input--border-color--focus: var(--color--secondary);
  --input--color--background: var(--color--foreground--tint-2);
}
._ioSearchOpened_1bmr7_142 ._ioSearchIcon_1bmr7_132 {
  cursor: default;
}
._ioSearchOpened_1bmr7_142 input {
  opacity: 1;
  cursor: text;
}