/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._container_10pm3_125 > * {
  margin-bottom: var(--spacing--2xl);
}
._syncTable_10pm3_129 {
  margin-bottom: var(--spacing--2xl);
}
._header_10pm3_133 {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
._header_10pm3_133 *:first-child {
  flex-grow: 1;
}
._enableFeatureContainer_10pm3_142 {
  margin-bottom: var(--spacing--xl);
}
._enableFeatureContainer_10pm3_142 > span {
  font-size: var(--font-size--sm);
  font-weight: var(--font-weight--bold);
  padding: 0;
}
._enableFeatureContainer_10pm3_142 > * {
  padding: 0.5em;
}
._sectionHeader_10pm3_154 {
  margin-bottom: var(--spacing--sm);
}
._settingsForm_10pm3_158 .form-text {
  margin-top: var(--spacing--xl);
}
._docsInfoTip_10pm3_162, ._docsInfoTip_10pm3_162 > div {
  margin-bottom: var(--spacing--xl);
}