/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._container_5309p_125 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing--xl);
}
._header_5309p_131 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing--2xs);
}
._content_5309p_137 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing--2xs);
}
._checkboxContainer_5309p_143 {
  display: flex;
  flex-direction: column;
  border: var(--border-width) var(--border-style) var(--color--info--tint-1);
  border-radius: var(--radius);
  padding: var(--spacing--md) var(--spacing--md) var(--spacing--xs);
}
._checkboxContainer_5309p_143 label {
  font-weight: var(--font-weight--bold);
  padding-bottom: var(--spacing--5xs);
}
._checkboxContainer_5309p_143 ._checkboxDescription_5309p_154 {
  padding: var(--spacing--2xs) var(--spacing--xl);
}
._checkboxContainer_5309p_143 ._notice_5309p_157 {
  margin-left: var(--spacing--xl);
  margin-top: var(--spacing--2xs);
}
._privacyNote_5309p_162 span + span {
  margin-left: var(--spacing--4xs);
}