/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
._container_z7g8k_123 {
  padding-bottom: 100px;
}
._container_z7g8k_123 > * {
  margin-bottom: var(--spacing--2xl);
}
._header_z7g8k_130 {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
._header_z7g8k_130 *:first-child {
  flex-grow: 1;
}
._user_z7g8k_139 {
  display: flex;
  align-items: center;
}
@media (max-width: 600px) {
._user_z7g8k_139 {
    display: none;
}
}
._username_z7g8k_149 {
  display: grid;
  grid-template-columns: 1fr;
  margin-right: var(--spacing--sm);
}
@media (max-width: 992px) {
._username_z7g8k_149 {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}
}
._tooltip_z7g8k_162 {
  justify-self: start;
}
._disableMfaButton_z7g8k_166 {
  --button-color: var(--color--danger);
}
._disableMfaButton_z7g8k_166 > span {
  font-weight: var(--font-weight--bold);
}
._button_z7g8k_173 {
  font-size: var(--spacing--xs);
}
._button_z7g8k_173 > span {
  font-weight: var(--font-weight--bold);
}
._infoText_z7g8k_180 {
  font-size: var(--font-size--2xs);
  color: var(--color--text--tint-1);
}
._themeSelect_z7g8k_185 {
  max-width: 50%;
}