/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._cardContainer_wz5jy_125 {
  display: flex;
  padding: var(--spacing--sm);
  border: var(--border-width) var(--border-style) var(--color--info--tint-1);
  border-radius: var(--radius--lg);
  background-color: var(--color--background--light-3);
}
._packageCard_wz5jy_133,
._cardSkeleton_wz5jy_134 {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
}
._packageCard_wz5jy_133 {
  align-items: center;
}
._cardSkeleton_wz5jy_134 {
  flex-direction: column;
}
._loader_wz5jy_148 {
  width: 50%;
  transform: scaleY(-1);
}
._loader_wz5jy_148:last-child {
  width: 70%;
}
._loader_wz5jy_148:last-child div {
  margin: 0;
}
._cardInfoContainer_wz5jy_159 {
  display: flex;
  flex-wrap: wrap;
}
._cardTitle_wz5jy_164 {
  flex-basis: 100%;
}
._cardTitle_wz5jy_164 span {
  line-height: 1;
}
._cardSubtitle_wz5jy_171 {
  margin-top: 2px;
  padding-right: var(--spacing--md);
}
._cardControlsContainer_wz5jy_176 {
  display: flex;
  align-items: center;
  gap: var(--spacing--3xs);
}
._cardActions_wz5jy_182 {
  padding-left: var(--spacing--3xs);
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._container_rpbd6_125 {
  height: 100%;
  padding-right: var(--spacing--2xs);
}
._container_rpbd6_125 > * {
  margin-bottom: var(--spacing--2xl);
}
._headingContainer_rpbd6_133 {
  display: flex;
  justify-content: space-between;
}
._loadingContainer_rpbd6_138 {
  display: flex;
  gap: var(--spacing--xs);
}
._actionBoxContainer_rpbd6_143 {
  text-align: center;
}
._cardsContainer_rpbd6_147 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing--2xs);
}