
._card_1yi5y_2 {
	--card--padding: var(--spacing--2xs);
	padding-left: var(--spacing--sm);
}
._providerImage_1yi5y_7 {
	width: 100%;
	height: 100%;
}
._headerContainer_1yi5y_12 {
	display: flex;
	align-items: center;
	gap: var(--spacing--3xs);
}
._cardBadge_1yi5y_18 {
	margin-right: var(--spacing--3xs);
}
._badge_1yi5y_22 {
	padding: var(--spacing--4xs) var(--spacing--2xs);
	background-color: var(--color--background--light-3);
	border-color: var(--color--foreground);
	height: 23px;
& > span {
		display: flex;
		gap: var(--spacing--3xs);
		align-items: center;
}
}
._nowrap_1yi5y_35 {
	white-space: nowrap !important;
}

._iconCardContainer_mo660_2 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: var(--spacing--lg);
}
._iconCard_mo660_2 {
	width: 2.5rem;
	height: 2.5rem;
	border: 1px solid var(--color--neutral-100);
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--color--background--light-2);
	box-shadow: var(--shadow--dark);
	border-radius: var(--radius);
	overflow: hidden;
&:nth-child(1) {
		transform: rotate(-8deg);
}
&:nth-child(2) {
		z-index: 1;
		margin-top: -0.3rem;
}
&:nth-child(3) {
		transform: rotate(8deg);
}
}
._iconCard_mo660_2 img,
._iconCard_mo660_2 svg {
	width: var(--spacing--lg);
	height: var(--spacing--lg);
}
._providerLogo_mo660_41 {
	width: var(--spacing--lg);
	height: var(--spacing--lg);
	object-fit: contain;
	opacity: 1;
	filter: blur(0);
	transition:
		opacity 300ms ease-in-out,
		filter 300ms ease-in-out;
}
._fading_mo660_52 {
	opacity: 0;
	filter: blur(4px);
}

._container_wm73r_2 {
	padding-bottom: var(--spacing--xl);
	max-width: 702px;
	margin: 0 auto;
}
._headerContainer_wm73r_8 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
._headerTitle_wm73r_14 {
	display: flex;
	flex-direction: column;
	gap: var(--spacing--2xs);
}
._addButton_wm73r_20 {
	align-self: flex-end;
	margin-top: var(--spacing--lg);
}
._link_wm73r_25 {
	text-transform: lowercase;
	display: inline-flex;
	align-items: center;
}
