/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
/**
	When hovering over link in row, ensure hover background is removed from row
 */
tr:hover:has(.open-execution-link:hover) {
  --table--row--color--background--hover: transparent;
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._container_1s9s8_125 {
  height: 100%;
  width: 100%;
  max-width: var(--content-container--width);
  padding: var(--spacing--lg) 0;
}
._header_1s9s8_132 {
  display: flex;
  align-items: center;
  gap: var(--spacing--2xs);
  margin-bottom: var(--spacing--lg);
}
._header_1s9s8_132 ._timestamp_1s9s8_138 {
  color: var(--color--text);
  font-size: var(--font-size--sm);
}
._backButton_1s9s8_143 {
  display: flex;
  align-items: center;
  gap: var(--spacing--3xs);
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: var(--color--text);
  transition: color 0.1s ease-in-out;
}
._backButton_1s9s8_143:hover {
  color: var(--color--primary);
}
._headerSeparator_1s9s8_158 {
  font-size: var(--font-size--xl);
  color: var(--color--text--tint-1);
}
._summary_1s9s8_163 {
  margin-bottom: var(--spacing--md);
}
._summary_1s9s8_163 ._summaryStats_1s9s8_166 {
  display: flex;
  gap: var(--spacing--lg);
}
._stat_1s9s8_171 {
  display: flex;
  flex-direction: column;
}
._controls_1s9s8_176 {
  display: flex;
  gap: var(--spacing--sm);
  margin-bottom: var(--spacing--sm);
}
._downloadButton_1s9s8_182 {
  margin-bottom: var(--spacing--sm);
}
._runsHeader_1s9s8_186 {
  display: flex;
}
._runsHeader_1s9s8_186 > div:first-child {
  flex: 1;
}
._runsHeaderButtons_1s9s8_193 {
  display: flex;
  gap: var(--spacing--xs);
}
._loading_1s9s8_198 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
._scrollableSummary_1s9s8_205 {
  border: var(--border-width) var(--border-style) var(--color--foreground);
  border-radius: 5px;
  background-color: var(--color--background--light-3);
}
._scrollableSummary_1s9s8_205 .el-scrollbar__bar {
  opacity: 1;
}
._scrollableSummary_1s9s8_205 .el-scrollbar__thumb {
  background-color: var(--color--foreground);
}
._scrollableSummary_1s9s8_205 .el-scrollbar__thumb:hover {
  background-color: var(--color--foreground--shade-1);
}
._summaryCard_1s9s8_220 {
  height: 100px;
  box-sizing: border-box;
  padding: var(--spacing--sm);
  border-right: var(--border-width) var(--border-style) var(--color--foreground);
  flex-basis: 169px;
  flex-shrink: 0;
  max-width: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
._summaryCard_1s9s8_220:first-child {
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}
._capitalized_1s9s8_237 {
  text-transform: none;
}
._capitalized_1s9s8_237::first-letter {
  text-transform: uppercase;
}
._summaryCardTitle_1s9s8_245 {
  display: inline;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  flex-shrink: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: var(--color--text);
}
._summaryCardContentLargeNumber_1s9s8_256 {
  font-size: 32px;
  line-height: 1;
}
._alertText_1s9s8_261 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  word-break: break-word;
  color: var(--color--text--danger);
  font-size: var(--font-size--2xs);
  line-height: 1.25;
}
._deletedExecutionRowIndex_1s9s8_276 {
  color: var(--color--text);
  font-weight: var(--font-weight--regular);
}