/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._component_wt5tl_125 {
  z-index: var(--floating-ui--z);
  width: auto !important;
}
._dropdownButton_wt5tl_130 {
  display: flex;
  align-items: center;
  gap: var(--spacing--xs);
  width: -moz-fit-content;
  width: fit-content;
  height: unset !important;
  padding-block: var(--spacing--2xs);
  /* disable underline */
  text-decoration: none !important;
}
._credentialsMissingIcon_wt5tl_141 {
  display: inline-block;
  margin-bottom: -1px;
}
._selected_wt5tl_146 {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--spacing--4xs);
}
._icon_wt5tl_153 {
  flex-shrink: 0;
  margin-block: -4px;
}
._infoIcon_wt5tl_158,
._menuIcon_wt5tl_159 {
  flex-shrink: 0;
}
._infoIcon_wt5tl_158 {
  margin-inline: var(--spacing--5xs);
}
._avatarIcon_wt5tl_167 {
  margin-right: var(--spacing--2xs);
}
._tooltip_wt5tl_171 {
  /* higher than dropdown submenu */
  z-index: 1000999 !important;
}
._flattenedLabel_wt5tl_176 {
  display: flex;
  align-items: center;
  gap: var(--spacing--4xs);
  overflow: hidden;
  flex-grow: 1;
  white-space: nowrap;
}
._separator_wt5tl_185 {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
}