/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._WorkflowExecutionsCard_lw0pe_125 {
  --execution-list-item--color--background: var(--execution-card--color--background);
  --execution-list-item--color--background--highlight: var(--color--warning--tint-1);
  display: flex;
  flex-direction: column;
  padding-right: var(--spacing--md);
}
._WorkflowExecutionsCard_lw0pe_125._active_lw0pe_132 {
  border-left: var(--spacing--4xs) var(--border-style) transparent !important;
}
._WorkflowExecutionsCard_lw0pe_125._active_lw0pe_132 ._executionStatus_lw0pe_135 {
  color: var(--color--text--shade-1) !important;
}
._WorkflowExecutionsCard_lw0pe_125:hover ._executionLink_lw0pe_138, ._WorkflowExecutionsCard_lw0pe_125._active_lw0pe_132 ._executionLink_lw0pe_138 {
  --execution-list-item--color--background: var(--execution-card--color--background--hover);
}
._WorkflowExecutionsCard_lw0pe_125._new_lw0pe_141 ._spinner_lw0pe_141, ._WorkflowExecutionsCard_lw0pe_125._running_lw0pe_141 ._spinner_lw0pe_141 {
  position: relative;
  top: 1px;
}
._WorkflowExecutionsCard_lw0pe_125._new_lw0pe_141, ._WorkflowExecutionsCard_lw0pe_125._new_lw0pe_141 ._executionLink_lw0pe_138, ._WorkflowExecutionsCard_lw0pe_125._running_lw0pe_141, ._WorkflowExecutionsCard_lw0pe_125._running_lw0pe_141 ._executionLink_lw0pe_138 {
  border-left: var(--spacing--4xs) var(--border-style) var(--execution-card--border-color--running);
}
._WorkflowExecutionsCard_lw0pe_125._new_lw0pe_141 ._statusLabel_lw0pe_148,
._WorkflowExecutionsCard_lw0pe_125._new_lw0pe_141 ._spinner_lw0pe_141, ._WorkflowExecutionsCard_lw0pe_125._running_lw0pe_141 ._statusLabel_lw0pe_148,
._WorkflowExecutionsCard_lw0pe_125._running_lw0pe_141 ._spinner_lw0pe_141 {
  color: var(--color--warning);
}
._WorkflowExecutionsCard_lw0pe_125._success_lw0pe_153, ._WorkflowExecutionsCard_lw0pe_125._success_lw0pe_153 ._executionLink_lw0pe_138 {
  border-left: var(--spacing--4xs) var(--border-style) var(--execution-card--border-color--success);
}
._WorkflowExecutionsCard_lw0pe_125._new_lw0pe_141, ._WorkflowExecutionsCard_lw0pe_125._new_lw0pe_141 ._executionLink_lw0pe_138 {
  border-left: var(--spacing--4xs) var(--border-style) var(--execution-card--border-color--waiting);
}
._WorkflowExecutionsCard_lw0pe_125._new_lw0pe_141 ._statusLabel_lw0pe_148 {
  color: var(--execution-card--color--text--waiting);
}
._WorkflowExecutionsCard_lw0pe_125._waiting_lw0pe_162, ._WorkflowExecutionsCard_lw0pe_125._waiting_lw0pe_162 ._executionLink_lw0pe_138 {
  border-left: var(--spacing--4xs) var(--border-style) var(--execution-card--border-color--waiting);
}
._WorkflowExecutionsCard_lw0pe_125._waiting_lw0pe_162 ._statusLabel_lw0pe_148 {
  color: var(--color--secondary);
}
._WorkflowExecutionsCard_lw0pe_125._error_lw0pe_168, ._WorkflowExecutionsCard_lw0pe_125._error_lw0pe_168 ._executionLink_lw0pe_138 {
  border-left: var(--spacing--4xs) var(--border-style) var(--execution-card--border-color--error);
}
._WorkflowExecutionsCard_lw0pe_125._error_lw0pe_168 ._statusLabel_lw0pe_148 {
  color: var(--color--danger);
}
._WorkflowExecutionsCard_lw0pe_125._unknown_lw0pe_174, ._WorkflowExecutionsCard_lw0pe_125._unknown_lw0pe_174 ._executionLink_lw0pe_138 {
  border-left: var(--spacing--4xs) var(--border-style) var(--execution-card--border-color--unknown);
}
._WorkflowExecutionsCard_lw0pe_125 ._annotation_lw0pe_177 {
  display: flex;
  flex-direction: row;
  gap: var(--spacing--3xs);
  align-items: center;
  margin: var(--spacing--4xs) 0 0;
}
._WorkflowExecutionsCard_lw0pe_125 ._annotation_lw0pe_177 ._ratingIcon_lw0pe_184 ._up_lw0pe_184 {
  color: var(--color--success);
}
._WorkflowExecutionsCard_lw0pe_125 ._annotation_lw0pe_177 ._ratingIcon_lw0pe_184 ._down_lw0pe_187 {
  color: var(--color--danger);
}
._executionLink_lw0pe_138 {
  background: var(--execution-list-item--color--background);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  color: var(--color--text);
  font-size: var(--font-size--xs);
  padding: var(--spacing--xs);
  padding-right: var(--spacing--sm);
  position: relative;
  left: calc(-1 * var(--spacing--4xs));
}
._executionLink_lw0pe_138:active ._icon_lw0pe_204,
._executionLink_lw0pe_138:active ._statusLabel_lw0pe_148 {
  color: var(--color--text);
}
._icons_lw0pe_209 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--spacing--2xs);
  min-width: calc(2 * var(--font-size--sm) + var(--spacing--2xs));
}
._icon_lw0pe_204 {
  font-size: var(--font-size--sm);
  width: var(--font-size--sm);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
._icon_lw0pe_204._retry_lw0pe_224 svg {
  color: var(--color--primary);
}
._icon_lw0pe_204._manual_lw0pe_227 {
  position: relative;
  top: 1px;
}
._showGap_lw0pe_232 {
  margin-bottom: var(--spacing--2xs);
}
._showGap_lw0pe_232 ._executionLink_lw0pe_138 {
  border-bottom: 1px solid var(--color--foreground--shade-1);
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._container_odpo5_125 {
  flex: 310px 0 0;
  background-color: var(--color--background--light-3);
  border-right: var(--border);
  padding: var(--spacing--lg) 0 var(--spacing--lg) var(--spacing--lg);
  z-index: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
._heading_odpo5_137 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: var(--spacing--md);
}
._controls_odpo5_144 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: var(--spacing--sm);
  padding-right: var(--spacing--md);
}
._executionList_odpo5_152 {
  flex: 1;
  overflow: auto;
  margin-bottom: var(--spacing--md);
  background-color: var(--color--background--light-3) !important;
}
._executionList_odpo5_152::before {
  position: absolute;
  display: block;
  width: 270px;
  height: 6px;
  background: linear-gradient(to bottom, rgb(251, 251, 251) 0%, rgba(251, 251, 251, 0) 100%);
  z-index: 999;
}
._executionList_odpo5_152 > div:first-child {
  margin-top: 3px;
}
._infoAccordion_odpo5_170 {
  position: absolute;
  bottom: 0;
  margin-left: calc(-1 * var(--spacing--lg));
  border-top: var(--border);
  width: 100%;
}
._infoAccordion_odpo5_170 > div {
  width: 100%;
  background-color: var(--color--background--light-2);
  margin-top: 0 !important;
}
._noResultsContainer_odpo5_183 {
  width: 100%;
  margin-top: var(--spacing--2xl);
  text-align: center;
}
._loadMoreSentinel_odpo5_189 {
  height: 1px;
  width: 100%;
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
.executions-sidebar[data-v-ec0a0331] .el-skeleton__item {
  height: 60px;
  border-radius: 0;
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._container_pd7qp_125 {
  display: flex;
  height: 100%;
  width: 100%;
}
._content_pd7qp_131 {
  flex: 1;
}
@media screen and (max-width: 991px) {
._container_pd7qp_125 {
    flex-direction: column;
}
._content_pd7qp_131 {
    flex: 1 1 50%;
}
}