/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._highlightDataButton_7tc76_125 {
  height: 30px;
  width: 30px;
}
._highlightDataButtonActive_7tc76_130 {
  width: auto;
}
._highlightDataButtonOpen_7tc76_134 {
  color: var(--color--primary);
  background-color: var(--button--color--background--secondary--hover);
  border-color: var(--button--border-color--secondary--hover-active-focus);
}
._badge_7tc76_140 {
  border: 0;
}
._container_7tc76_144 {
  z-index: 1;
  max-height: calc(100vh - 250px);
  width: 250px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: var(--color--background--light-3);
  border: var(--border);
  border-radius: var(--radius);
}
._section_7tc76_156 {
  padding: var(--spacing--sm);
  display: flex;
  flex-direction: column;
}
._section_7tc76_156:not(:last-child) {
  border-bottom: var(--border);
}
._metadata_7tc76_165 {
  padding-top: var(--spacing--sm);
}
._heading_7tc76_169 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-right: var(--spacing--lg);
}
._controls_7tc76_176 {
  padding: var(--spacing--sm) 0 var(--spacing--xs);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: var(--spacing--md);
}
._controls_7tc76_176 button {
  display: flex;
  align-items: center;
}
._customDataEntry_7tc76_188 {
  display: flex;
  flex-direction: column;
}
._customDataEntry_7tc76_188:not(:first-of-type) {
  margin-top: var(--spacing--sm);
}
._customDataEntry_7tc76_188 ._key_7tc76_195 {
  font-weight: var(--font-weight--bold);
}
._noResultsContainer_7tc76_199 {
  width: 100%;
  margin-top: var(--spacing--sm);
}
._execution-annotation-panel_7tc76_204 :deep(._el-skeleton__item_7tc76_204) {
  height: 60px;
  border-radius: 0;
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._tags_12rjz_125 {
  display: block;
  margin-top: var(--spacing--4xs);
}
._addTagButton_12rjz_130 {
  height: 24px;
  font-size: var(--font-size--2xs);
  white-space: nowrap;
  padding: var(--spacing--4xs) var(--spacing--3xs);
  background-color: var(--button--color--background--secondary);
  border: 1px solid var(--color--foreground--tint-1);
  border-radius: var(--radius);
  font-weight: var(--font-weight--regular);
}
._addTagButton_12rjz_130:hover {
  color: var(--color--primary);
  text-decoration: none;
  background-color: var(--button--color--background--secondary--hover);
  border: 1px solid var(--button--border-color--secondary--hover-active-focus);
  border-radius: var(--radius);
}
._addTagButton_12rjz_130 span + span {
  margin-left: var(--spacing--4xs);
}
._addTagButtonIconOnly_12rjz_151 {
  height: 20px;
  width: 20px;
}
._tagsContainer_12rjz_156 {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--spacing--4xs);
  max-width: 360px;
}
._tagsContainer_12rjz_156 .el-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: max-content;
  height: var(--tag--height);
  padding: var(--tag--padding);
  line-height: var(--tag--line-height);
  color: var(--tag--color--text);
  background-color: var(--tag--color--background);
  border: 1px solid var(--tag--border-color);
  border-radius: var(--tag--radius);
  font-size: var(--tag--font-size);
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._ratingIcon_1u7e5_125 {
  display: flex;
  flex-direction: row;
}
._ratingIcon_1u7e5_125 ._icon_1u7e5_129 {
  color: var(--color--text--tint-1);
}
._ratingIcon_1u7e5_125 ._icon_1u7e5_129:not(._up_1u7e5_132):not(._down_1u7e5_132):hover {
  color: var(--color--primary);
}
._ratingIcon_1u7e5_125 ._up_1u7e5_132 {
  color: var(--color--success);
}
._ratingIcon_1u7e5_125 ._down_1u7e5_132 {
  color: var(--color--danger);
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._previewContainer_77hfc_125 {
  position: relative;
  height: 100%;
  overflow: hidden;
}
._executionDetails_77hfc_131 {
  position: absolute;
  padding: var(--spacing--md);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  transition: all 150ms ease-in-out;
  pointer-events: none;
}
._executionDetails_77hfc_131 > div:last-child {
  display: flex;
  align-items: center;
}
._executionDetails_77hfc_131 * {
  pointer-events: all;
}
._executionDetailsLeft_77hfc_149 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing--5xs);
}
._executionTitle_77hfc_155 {
  display: flex;
  align-items: center;
  gap: var(--spacing--3xs);
}
._voteButtons_77hfc_161 {
  margin-bottom: 2px;
}
._spinner_77hfc_165 div div {
  width: 30px;
  height: 30px;
  border-width: 2px;
}
._running_77hfc_171,
._spinner_77hfc_165 {
  color: var(--color--warning);
}
._waiting_77hfc_176 {
  color: var(--color--secondary);
}
._success_77hfc_180 {
  color: var(--color--success);
}
._error_77hfc_184 {
  color: var(--color--danger);
}
._newInfo_77hfc_188,
._runningInfo_77hfc_189 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--spacing--4xl);
}
._newMessage_77hfc_196,
._runningMessage_77hfc_197 {
  width: 240px;
  margin-top: var(--spacing--lg);
  text-align: center;
}
._debugLink_77hfc_203 a > span {
  display: block;
  padding: var(--button--padding--vertical, var(--spacing--xs)) var(--button--padding--horizontal, var(--spacing--md));
}
._actions_77hfc_208 {
  display: flex;
  gap: var(--spacing--2xs);
}
._highlightDataButton_77hfc_213 {
  height: 30px;
  width: 30px;
}
._highlightDataButtonActive_77hfc_218 {
  width: auto;
}
._highlightDataButtonOpen_77hfc_222 {
  color: var(--color--primary);
  background-color: var(--button--color--background--secondary--hover);
  border-color: var(--button--border-color--secondary--hover-active-focus);
}
._badge_77hfc_228 {
  border: 0;
}